<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Counter</title>
</head>
<body>
        <h1>Counter</h1>
        <h3>Name: <%= users %></h3>

        <form class="SubmitButtonClass" action="/addtwo" method="post">
                <button type="submit" name="button">Counter +2</button>

        </form>
        <form class="resetButtonClass" action="/reset" method="post">
                <button type="submit" name="button">Reset Counter</button>

        </form>

</body>
</html>
