<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <title>Update Mongoose</title>
</head>
<body>
        <h1>Update Mongoose</h1>
         <% if(typeof(errors) != 'undefined' ) { %>
                 <% for (var x in errors) { %>
               <h3><%= errors[x].message %></h3>
              <% } %>
          <% } %>

          <h3>
                  Name: <%= users.name %><br>
          </h3>

          <form class="mongoos" action="/update/<%=users._id%>" method="post">
                  Name: <input type="text" name="name" value="">
                  <button type="submit" name="button">Submit</button>
          </form>

</body>
</html>
